
@font-face {
	font-family: 'Staatliches';
	src: local('Staatliches'), url('../assets/Staatliches-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Fredoka';
	src: local('Fredoka'), url('../assets/Fredoka.ttf') format('truetype');
}